@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");
/*----------------------------------------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #191816 inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #a9afb9 !important;
}
textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
/*----------------------------------------------------*/
body {
  background-color: #222;
}
.Form {
  width: 37.5rem;
  height: 37.5rem;
  flex-shrink: 0;
  border-radius: 2.625rem;
  display: grid;
  background-color: #191816;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*----------------------------------------------------*/
#cabecalho {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: -10%;
}
#cabecalho h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#cabecalho img {
  vertical-align: middle;
  padding-right: 0.37em;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}
#cabecalho p {
  flex-shrink: 0;
  color: #afb6c2;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: -4%;
}
/*----------------------------------------------------*/
.email {
  margin-top: -60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.email label {
  color: #afb6c2;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.email input {
  width: 21rem;
  height: 2.75rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 1px solid #868686;
  background-color: unset;
  background-image: url(../img/email.svg);
  background-repeat: no-repeat;
  background-position: 0.5em;
  background-size: 1.8em;
  padding-left: 3em;
  color: #a9afb9;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.email input::placeholder {
  color: #a9afb9;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.email input:focus {
  border: 2px solid #00fff0;
  background-image: url(../img/email-focus.svg);
}
/*----------------------------------------------------*/
.password {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 5%;
}
.password input::placeholder {
  color: #a9afb9;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.password input {
  width: 21rem;
  height: 2.75rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 1px solid #868686;
  background-color: unset;
  background-image: url(../img/lock.svg);
  background-repeat: no-repeat;
  background-position: 0.5em;
  background-size: 1.8em;
  padding-left: 3em;
  color: #a9afb9;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.password label {
  color: #afb6c2;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.password input:focus {
  border: 2px solid #00fff0;
  background-image: url(../img/lock-focus.svg);
}
/*----------------------------------------------------*/
.btn button {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  color: #001432;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.01688rem;
  text-transform: uppercase;
  align-items: center;
  flex-direction: column;
  width: 21rem;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: #00fff0;
}
/*----------------------------------------------------*/
.remember {
  display: flex;
  align-items: center;
}
.remember label {
  color: #a9afb9;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.remember input[type="checkbox"] {
  appearance: none;
  border-radius: 0.25rem;
  border: 1px solid #868686;
  width: 20px;
  height: 20px;
}

.remember input[type="checkbox"]:checked {
    border-color:#00fff0;
  background: url(../img/checkbox.svg) no-repeat #00fff0;
  background-position: 0.1rem;
}
/*----------------------------------------------------*/
.register {
  margin-top: 5%;
}
.register a {
  color: #00fff0;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.register b {
  font-size: 0.875rem;
  font-weight: 600;
}
/*----------------------------------------------------*/
.forgout a {
  text-decoration: none;
  color: #00fff0;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/*----------------------------------------------------*/
.aling-remeber-and-forgout {
  margin: 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*----------------------------------------------------*/
@media (max-width: 800px) {
  .Form {
    width: 100%;
    height: 100%;
  }
}
/*----------------------------------------------------*/