body {
  background-color: #222;
}
.Form {
  width: 37.5rem;
  height: 37.5rem;
  flex-shrink: 0;
  border-radius: 2.625rem;
  display: grid;
  background-color: #191816;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*----------------------------------------------------*/
.cabecalho {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: -10%;
}
.cabecalho h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cabecalho img {
  vertical-align: middle;
  padding-right: 0.37em;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}
.cabecalho p {
  flex-shrink: 0;
  color: #afb6c2;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: -4%;
}
/*----------------------------------------------------*/
.email {
  margin-top: -60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.email input {
  background-image: url(../img/email.svg);
}
.email input:focus {
  background-image: url(../img/email-focus.svg);
}
/*----------------------------------------------------*/
.password {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 5%;
}
.password input {
  background-image: url(../img/lock.svg);
}
.password input:focus {
  background-image: url(../img/lock-focus.svg);
}
/*----------------------------------------------------*/
.remember {
  display: flex;
  align-items: center;
}
/*----------------------------------------------------*/
.register {
  margin-top: 5%;
}
.register a {
  color: #00fff0;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.register b {
  font-size: 0.875rem;
  font-weight: 600;
}
/*----------------------------------------------------*/
.forgout a {
  text-decoration: none;
  color: #00fff0;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/*----------------------------------------------------*/
.aling-remeber-and-forgout {
  margin: 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*----------------------------------------------------*/
@media (max-width: 800px) {
  body {
    background-color: #191816;
  }
}
/*----------------------------------------------------*/
