body {
  background-color: #222;
}
.Form {
  width: 37.5rem;
  height: 37.5rem;
  flex-shrink: 0;
  border-radius: 2.625rem;
  display: grid;
  background-color: #191816;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-content: stretch;
}
.placeholder::placeholder {
  color: #a9afb9;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.focus:focus {
  border: 2px solid #00fff0;
}
/*----------------------------------------------------*/
.cabecalho {
  display: flex;
  flex-direction: column;
}
.cabecalho h1 {
  color: #fff;
  font-family: Poppins;
  display: flex;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cabecalho img {
  padding-right: 10px;
  vertical-align: -5px;
}
.cabecalho p {
  display: flex;
  margin-top: -6%;
  color: #afb6c2;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
}
/*----------------------------------------------------*/
.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user input {
  background-image: url(../img/user.svg);
}
.user input:focus {
  background-image: url(../img/user-focus.svg);
}
/*----------------------------------------------------*/
.email-register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
}
.email-register input {
  background-image: url(../img/email.svg);
}
.email-register input:focus {
  background-image: url(../img/email-focus.svg);
}
/*----------------------------------------------------*/
.password-register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
}
.password-register input {
  background-image: url(../img/lock.svg);
}
.password-register input:focus {
  background-image: url(../img/lock-focus.svg);
}
/*----------------------------------------------------*/
.confirm-password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
}
.confirm-password input {
  background-image: url(../img/lock.svg);
}
.confirm-password input:focus {
  background-image: url(../img/lock-focus.svg);
}
/*----------------------------------------------------*/
.terms {
  margin-top: 2%;
  display: flex;
  align-items: center;
}
.terms a {
  color: #a9afb9;
  font-family: Roboto;
  font-weight: 600;
  text-decoration: none;
}
.btn{
  margin-top: 10%;
}
/*----------------------------------------------------*/
@media (max-width: 800px) {
  body {
    background-color: #191816;
  }
}
/*----------------------------------------------------*/
